* {font-family: 'Roboto', sans-serif;}


body {
      display:flex;
      flex-direction: column;
      margin: 0 auto;
      max-width: 1200px;
}

.header{
    background-color: #1F2937;
    color: #F9FAF8;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 24px ;
    
}

.hlogo {
    margin-left: 160px;
    font-weight: bold;
}

ul {
    list-style: none;
    display: flex;
    gap: 24px;
    margin-right: 160px;
}

a { 
    text-decoration: none;
    font-size: 18px;
    color: #E5E7EB;
}

.hero {
    background-color: #1F2937;
    display: flex;
    justify-content: space-between;
    padding: 100px 0px;
    
    
}

.hero p:first-of-type {
    font-size: 48px;
    font-weight: 900;
    color: #F9FAF8;
    margin-top: 0px;
} 

.awesome {
    max-width: 500px;
    margin-left: 160px;
    margin-right: 40px;
    font-size: 18px;
    color: #E5E7EB;
    padding: 0px;
    
    
}

.imgdiv {
    max-width: 500px;
    margin-right: 160px;
}

button {
    background-color: #3882F6;
    color: #E5E7EB;
    border-radius: 5px;
    border-style: none;
    font-size: 14px;
    font-weight: bold;
    padding: 6px 12px;
}

.random {
        background-color: #F9FAF8;
        display: flex;
        justify-content: center;
        gap: 60px;
        text-align: center;

}

.rtitle{
       background-color: #F9FAF8;
       display: flex;
       justify-content: center;
       font-size: 36px;
       color: #1F2937;
       font-weight: 900;
       margin-bottom: 30px;
       padding-top: 60px;
       padding-bottom: 60px;

}

.info {
    max-width: 120px;
    background-color: #E5E7EB;

    }
.info img { 
        border: 3px solid #3882F6;
        border-radius: 5px;
    }

.text {
    background-color: #F9FAF8;
    padding: 1em 0;
}

.quote {
    background-color: #E5E7EB;
    color: #1F2937;
    font-size: 36px;
    font-style: italic;
    padding: 80px 220px;
    display:flex;
    flex-direction: column;
    }

.byline {
    text-align: end;
    font-weight: bold;
}

.callaction {
    background-color: #F9FAF8;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 60px 160px;
    
}


.bluebox {
    width: 800px;
    height: 200px;
    background-color: #3882F6;
    color: #F9FAF8;
    border-radius: 15px;
    font-size: 18px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.calltxt h2,p {
        margin-top: 0.2em;
        margin-bottom: 0.2em;
}

.bluebox button {

    border: 2px solid #F9FAF8;
    
}

.footer {
    background-color: #1F2937;
    color: #F9FAF8;
    height: 4em;
    display: flex;
    justify-content: center;
    align-items: center;
}